body{
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    border: none;
    margin: 0;
    padding: 0;
}

nav{
    background-color: rgb(39, 39, 39);
}

nav ul {
    margin: 0;
    display: flex;
}

nav ul li {
    list-style-type: none;
    color: white;
    padding: 1rem 0.5rem;
    margin: 0;
}

nav ul li a{
    margin: 0;
    text-decoration: none;
    color: white;
}

nav ul li a:hover{
    color: rgb(160, 160, 160);
}

.posts {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    /* margin: 0 auto; */
}
.post{
    background-color: white;
    box-shadow: 0 0 15px 1px rgb(129, 129, 129);
    margin: 1rem;
    transition: all .2s ease-in-out;
    text-decoration: none;
    color: black;
    padding: 0 0.5rem;
}
.post:hover{
    transform: scale(1.03);
}

footer{
    margin: 0;
    width: 100%;
    background-color: rgb(39, 39, 39);
    color: white;
}