body{
    background-color: #efefef;
    font-family: Arial, sans-serif;
    border: none;
    margin: 0;
    padding: 0;
}

nav{
    background-color: rgb(39, 39, 39);
}

nav ul {
    display: flex;
}

nav ul li {
    list-style-type: none;
    color: white;
    padding: 0.3em;
    margin: 0;
}

nav ul li a{
    margin: 0;
    text-decoration: none;
    color: white;
}